body {
  background: black;
  color: #00ff00;
  font-family: monospace;
}

.terminal {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  border: 2px solid #00ff00;
  padding: 20px;
}

input, button {
  width: 100%;
  margin: 5px 0;
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px;
}

button:hover {
  background: #00ff00;
  color: black;
}
